.transform{
    width: 150px;
    height: 150px;
    background-color: palevioletred;
    position: relative;
    top: 200px;
    animation: transform 3s ease 2 alternate;
}

@keyframes transform {
    0% {
        transform: translateX(0px) translateY(0px)
    }
    100% {
        transform: translateX(720px) translateY(200px) perspective(150px) rotateX(360deg);
    }    
    }

    .elemento{
        width: 50px;
    }

    a{
        text-decoration: none;
        font-size: 20px;
        padding: 5px 5px 5px 5px;
        color: inherit; /* Herencia del padre*/
    }

    .elemento:hover a span{
        display: none; /*Oculto el texto original*/
    }

    .elemento:hover{
        transform: translateX(50px);
        color: blueviolet; /*Color del padre y herencia*/
    }

    .elemento.elemento:hover a:after{
        content: "Después";
    }

